$fuente-titulo: normal 6vw 'Marcellus SC', serif;
$fuente-subtitulo: normal 3rem 'Marcellus', serif;
$fuente-textos: normal 2rem 'Alegreya Sans', sans-serif;
$color-oro: #d6a011;
$color-negro: #222222;
$color-blanco: #0e0c0c;
$color-bordo: #146b31;
$color-oroClaro: #d6a011;
$sombra-cajas: 3px 3px 5px 0px #222222;
$sombra-titulo: 2px 2px 2px #222222;
$caja-alto: 300px;


$breakpoint-celularAngosto: 575px;
$breakpoint-celular: 576px;
$breakpoint-tablet: 768px;
$breakpoint-escritorio: 992px;
$breakpoint-escritorioLargo: 1200px;
$breakpoint-escritorioLargoExtra: 1400px;

